<div class="sw-cms-preview-blog-listing">
    <img style="width: 100%; height: 100%;" :src="assetFilter('gislblog/static/cms/preview/blog_categories.png')" alt="{{ $tc('gisl.general.cms.blogCategoryTitle') }}">
</div>