{% block gisl_cms_element_blog_listing_config %}
<div class="sw-cms-el-config-blog">

    {% block gisl_cms_element_blog_listing_config_paginationCount_field %}
        <sw-number-field
            numberType="int"
            :step="1"
            :min="1"
            :max="null"
            v-model:value="element.config.paginationCount.value"
            :digits="2"
            :allowEmpty="false"
            :label="$tc('gisl.general.paginationCount')">
        </sw-number-field>
    {% endblock %}

</div>
{% endblock %}