{% block gisl_element_blog_details %}
    {% set details = element.data %}
    <div id="progressBar"></div>
    {% block gisl_blog_page_header %}
        <div class="blog_details_header_area">
            {% sw_include '@Storefront/storefront/component/blog-details/hero-section.html.twig' %}
        </div>
    {% endblock %}

    {% block gisl_blog_details_page_image %}
        <div class="blog_details_main_img">
            {% sw_include '@Storefront/storefront/component/blog-details/hero-image.html.twig' %}
        </div>
    {% endblock %}

    
    {% block gisl_blog_main_content %}
        <div class="progress_bar" id="progressBar"></div>
        <section class="details_content_wrapper" id="blogDetailsContentArea">
            <div class="container">
                {% sw_include '@Storefront/storefront/component/blog-details/main-content.html.twig' %}
            </div>
        </section>
{#        For hide sticky sidebar #}
        <div id="endOfBlogContentArea"></div>
    {% endblock %}


{% endblock %}