<div class="sw-cms-el-blog-listing">
    <h2>{{ $tc('gisl.general.cms.blogShortDescription') }}</h2>
    <sw-alert variant="info">
        {{ $tc('gisl.general.cms.blogShortDescriptionAlert') }}
    </sw-alert>
</div>