<div class="sw-cms-el-related-blog">
    <h2>{{ $tc('gisl.general.cms.recentBlog') }}</h2>
    <div>
        <img style="width: 100%; height: 100%;" :src="assetFilter('gislblog/static/cms/preview/blog_list.png')" alt="{{ $tc('gisl.general.cms.relatedBlog') }}">
    </div>
</div>