{% block gisl_cms_block_blog_short_description %}
    
    <div class="short_description bg-gray"  data-cms-element-id="{{ element.id }}">

        {% sw_include "@Storefront/storefront/element/cms-element-gisl-blog-short-description.html.twig" ignore missing %}
    
    </div>

{% endblock %}