{% block gisl_cms_block_related_blog %}
    {% set element = block.slots.getSlot('content') %}
    {% if element.data %}
    <div class="related_article " data-cms-element-id="{{ element.id }}">
        {% sw_include "@Storefront/storefront/element/cms-block-gisl-related-blog.html.twig" ignore missing %}
    </div>
    {% endif %}
{% endblock %}