{% block gisl_element_blog_listing_row %}
    <div class="cms-news-full-listing-row js-listing-wrapper">

        {% set totalPages = (searchResult.total / searchResult.limit)|round(0, 'ceil') %}

        {% if(totalPages) > 1%}
            {% block gisl_element_blog_pagination %}
                <div class="g-4 mt-5">
                    <div class="blog_count_grid">
                        <p class="blog_count">
                            {{ 'gisl.countTitle'|trans }}:  
                            <span class="active">
                                {{ ((searchResult.page - 1) * searchResult.limit) + 1 }} to 
                                {{ searchResult.page * searchResult.limit }} of 
                                {{ searchResult.total }} items
                            </span>
                        </p>
                        {% sw_include '@Storefront/storefront/component/blog/gisl-pagination.htm.twig' %}
                    </div>
                </div>
            {% endblock %}
        {% endif %}

        {% if searchResult.total > 0 %}
            {% block gisl_element_blog_listing_col %}
                <div class="row">
                    {% for article in searchResult %}
                        {% block gisl_element_blog_listing_box %}
                            <div class="col-lg-4 col-md-6">
                                {% sw_include '@Storefront/storefront/component/blog/gisl-blog-card.html.twig' %}
                            </div>
                        {% endblock %}
                    {% endfor %}
                </div>
            {% endblock %}
        {% else %}
            {% block gisl_element_blog_listing_col_empty %}
                <div class="cms-listing-col col-12">
                    {% block gisl_element_blog_listing_col_empty_alert %}
                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                            type: 'info',
                            content: 'gisl.emptyResult'|trans|sw_sanitize
                        } %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endif %}

        {% if(totalPages) > 1 %}
            {% block gisl_element_blog_pagination_bottom %}
                <div class="g-4 mt-5">
                    <div class="blog_count_grid">
                        {% sw_include '@Storefront/storefront/component/blog/gisl-pagination.htm.twig' %}
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}